@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: 'Barlow Condensed', sans-serif;
    box-sizing: border-box;
}

a {
    color: black;
}

a:hover {
    color: black;
    /* text-shadow: 0 0 5px hsl(29, 47%, 90%); */
    -webkit-text-stroke: 1px hsl(29, 47%, 90%);
    transform: scale(1.05);
}

body {
    background-image: url(/images/bg-images/640px.jpg);
    background-size: cover;
    font-size: 24px;
    height: 100vh;
}

#homepage {
    height: 100vh;
    /* overflow-y: hidden; */
}

#card-border {
    /* width: 288.56px;
    height: 444px; */
    width: clamp(270px, 90%, 405px);
    background-color: hsl(29, 47%, 90%);
    margin: auto;
    text-align: center;
    border-radius: 15px;
    box-shadow: -4px 26px 45px black;
    aspect-ratio: 1/1.478;
    min-width: 270px;
}

#card-main {
    /* width: 232.74px;
    height: 389.04px; */
    width: 80%;
    height: 100%;
    border: 2px solid black;
    background-color: hsl(85, 26%, 80%);
    margin: 10% auto;
    text-transform: uppercase;
    font-weight: 600;
    flex-direction: column;
    gap: 50px;
    letter-spacing: 10%;
    font-size: 2rem;
}

#or {
    transform: rotate(-18deg);
}

/*cards on the left*/
#img-L-1 {
    position: absolute;
    top: -477px;
    left: -290px;
    transform: rotate(-11.19deg);
    z-index: 3;
}

#img-L-2 {
    position: absolute;
    top: -211px;
    left: -253px;
    transform: rotate(27.18deg);
    z-index: 2;
}

#img-L-3 {
    position: absolute;
    top: 90px;
    left: -261px;
    transform: rotate(-33.85deg);
    z-index: 1;
}

#tablet-1 {
    top: -576px;
    right: -836px;
    z-index: 4;
    position: absolute;
    transform: rotate(3.04deg);
}

#tablet-2 {
    top: -454px;
    right: -740px;
    z-index: 3;
    position: absolute;
    transform: rotate(-3.48deg);
}

#tablet-3 {
    top: -363px;
    right: -651px;
    z-index: 2;
    position: absolute;
    transform: rotate(-9.06deg);
}

#tablet-4 {
    top: -260px;
    right: -578px;
    z-index: 1;
    position: absolute;
    transform: rotate(-14.09deg);
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-el {
    z-index: -10;
    position: fixed;
}

.bg-el-left img {
    width: 254.58px;
    height: 380.85px;
    border-radius: 15px;
    box-shadow: 44px 21px 22px 13px hsla(0, 0%, 0%, 0.5);
}

.card-links {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.tablet {
    height: 783.52px;
    width: 530.08px;
    border-radius: 3px;
    background-color: hsl(29, 47%, 90%);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 17.23px;
    padding: 17.23px;
    box-shadow: -9px 20px 16px 19px rgb(0, 0, 0, .5);
}

.tablet-block {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border: 2px solid black;
}

.unavailable {
    color: hsl(85, 26%, 65%);
    cursor: default;
}

.unavailable:hover {
    color: hsl(85, 26%, 65%);
    -webkit-text-stroke: 0px;
    transform: scale(1);
}

@media(min-width: 1024px) {
    .bg-el-left img {
        width: 375px;
        height: 561px;
        border-radius: 25px;
    }

    .tablet {
        width: 761px;
        height: 1137px;
    }
}