@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: 'Barlow Condensed', sans-serif;
    box-sizing: border-box;
}

:root {
    --lightYellow: #f1e4d8;
    --lightGreen: #e6ffda;
}

a {
    color: hsl(0, 0%, 90%);
    text-transform: capitalize;
    font-size: 3em;
}

a:hover {
    color: rgb(255, 255, 255);
    /* text-shadow: 0 0 5px hsl(29, 47%, 90%); */
    -webkit-text-stroke: 2px hsl(0, 0%, 0%);
}

body {
    background-image: url(/images/bg-images/640px.jpg);
    height: 100vh;
    object-fit: cover;
    scroll-behavior: smooth;
}

#main {
    background-size: cover;
    font-size: 24px;
    height: 100%;
    overflow-x: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 2em;
    padding: 1em 0;
}

#card-border {
    width: 288.56px;
    height: 444px;
    background-color: hsl(29, 47%, 90%);
    margin: auto;
    text-align: center;
    border-radius: 15px;
    box-shadow: -4px 26px 45px black;
}

#card-main {
    width: 232.74px;
    height: 389.04px;
    border: 2px solid black;
    background-color: hsl(85, 26%, 80%);
    margin: auto;
    text-transform: uppercase;
    font-weight: 600;
    flex-direction: column;
    gap: 50px;
    letter-spacing: 10%;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tablet {
    /* height: 783.52px;
    width: 530.08px; */
    max-width: 90%;
    min-width: 280px;
    aspect-ratio: 1/1.478;
    margin: auto;
    border-radius: 3px;
    background-color: hsl(29, 47%, 90%);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    /* gap: 17.23px;
    padding: 17.23px; */
    gap: .25em;
    padding: .25em;
    box-shadow: -9px 20px 16px 19px rgb(0, 0, 0, .5);
    max-height: 90vh;
}

.tablet-block {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border: 2px solid black;
    aspect-ratio: .64;
}

.tablet-block:active {
    transform: scale(.9);
    border: 5px solid red;
    outline: 5px solid rgb(255, 255, 255);
    box-shadow: 0 0 10px 10px green;
    filter: brightness(120%);
}

.clicked {
    transform: scale(.9);
    border: 5px solid red;
    outline: 5px solid rgb(255, 255, 255);
    box-shadow: 0 0 5px 10px green;
    filter: brightness(120%);
}

#buttons {
    width: calc(100% - 2em);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2em;
    /* display: flex;
    justify-content: space-around;
    align-items: baseline; */
    gap: .5em;
    margin: 0 auto;
    /* height: 5em; */
}

.button {
    aspect-ratio: 1.496;
    font-size: 15px;
    padding: 11px;
    border: 2px solid black;
    outline: .4em solid hsl(29, 47%, 90%);
    background-color: hsl(85, 26%, 80%);
    min-width: fit-content;
    box-shadow: -9px 20px 16px 19px rgb(0, 0, 0, .5);
    /* height: 100%; */
}

.button:hover,
.tablet-block:hover {
    filter: brightness(110%);
    transform: scale(1.03);
}

.button:active {
    filter: brightness(95%);
    box-shadow: -6px 16px 16px 19px rgb(0, 0, 0, .5);
}

.txt-btn {
    /* width: 186px; */
    /* height: 61px; */
    font-size: 19px;
    text-transform: capitalize;
    border: 2px solid #16181e;
    border-radius: 10px;
    /* background-image: linear-gradient(135deg, #e6ffda, #f7fff3, #e6ffda); */
    background-color: var(--lightGreen);
}

.txt-btn:hover {
    filter: brightness(1.05);
    scale: 1.05;
}

.txt-btn:active {
    filter: brightness(.95);
    scale: .91;
}

/* @media (min-width: 401px) {
    #newCard {}
} */